/* General */
@font-face {
  font-family: "robotoregular";
  src: url("font/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-size: 16px;
  font-family: "robotoregular", "Courier New", Courier, monospace;
  --accent: #065A6F;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

.icon-links {
  display: flex;
  gap: 1rem;
}

.icon-links > a {
  color: black;
}

footer .icon-links > a {
  color: white;
}

/* General Header */
header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
  height: auto;
}

.header-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  text-shadow:
    0 0 0.25rem rgba(0, 0, 0, 1),
    0 0 0.75rem rgba(0, 0, 0, 0.7),
    0 0 1.5rem rgba(0, 0, 0, 0.4);
  -webkit-text-stroke: 0.4px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -90;
  background-color: var(--accent);
  width: 200vw;
  transform-origin: left bottom;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.header-picture-container {
  position: relative;
  overflow: hidden;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.picture-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

picture,
img {
  width: 100%;
  height: 100%;
  display: block;
}

img {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  object-fit: cover;
  object-position: center;
}

/*Phone Header Sizes*/
@media screen and (max-width: 575px) {
  .header-name {
    line-height: 1.25;
    font-size: calc((100vw - 4rem) / 4);
    width: 3.6em;
    margin-inline: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-overlay {
    height: 60svh;
    max-height: 60svh;
    transform: rotate(-35deg);
  }

  .header-picture-container {
    margin: 2rem;
    aspect-ratio: 1 / 1.56;
  }

  .text-body {
    padding: 1rem;
    font-size: 1.125rem;
    line-height: 1.5;
  }

  .text-icons {
    justify-content: center;
    padding: 1rem;
  }

  .text-name {
    display: none;
  }

  .text-title {
    text-align: center;
  }

  .section-title {
    font-size: 3rem;
    text-align: center;
  }
}

/* Tablet Header Sizes */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .content-container {
    margin: 8rem 5rem 3rem 5rem;
    background-color: white;
    box-shadow:
      rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .header-overlay {
    height: 51svh;
    max-height: 51svh;
    transform: rotate(-19deg);
  }

  .header-name {
    display: none;
  }

  .header-picture-container {
    float: left;
    margin-top: -5rem;
    margin-left: -2.5rem;
    margin-right: 1rem;
    max-width: calc(50vw - 5rem);
    height: 55vw;
    max-height: 55vw;
  }

  .header-text {
    position: relative;
    padding: 2rem 2rem;
  }

  .text-body {
    font-size: 1.25rem;
    text-align: start;
    line-height: 1.5;
    max-width: 66ch;
    margin-bottom: 3rem;
  }

  .text-icons {
    display: none;
  }

  .text-name {
    position: absolute;
    right: 2.5rem;
    top: 0;
    transform: translateY(-4.5rem) scale(1.5);
    transform-origin: center;
    font-size: clamp(2rem, 1.75rem + 2vw, 4rem);
    color: white;
    text-shadow:
      0 0 0.25rem rgba(0, 0, 0, 1),
      0 0 0.75rem rgba(0, 0, 0, 0.7),
      0 0 1.5rem rgba(0, 0, 0, 0.4);
    -webkit-text-stroke: 0.4px rgba(0, 0, 0, 0.4);
    z-index: 6;
    white-space: nowrap;
  }

  .text-title {
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .section-title {
    font-size: 2.5rem;
  }
}

/*Desktop Header Sizes*/
@media screen and (min-width: 992px) {
  .content-container {
    min-height: calc(100svh - 10rem);
    margin: 5rem 3rem;
    background-color: white;
    box-shadow:
      rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .header-name {
    font-size: calc((50vw - 8rem) / 7.3);
    text-align: center;
  }

  .header-overlay {
    height: 98svh;
    max-height: 98svh;
    transform: rotate(-12deg);
  }

  .header-picture-container {
    float: left;
    margin-top: -2.5rem;
    margin-bottom: -2.5rem;
    height: calc(100svh - 5rem);
    width: calc(50vw - 6rem);
  }

  .header-text {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "title" "body" "icons";
    gap: 2rem;
    padding: 2rem 2rem;
    min-height: calc(100svh - 10rem);
  }

  .text-body {
    grid-area: body;
    font-size: 1.5rem;
    text-align: start;
    line-height: 1.5;
    max-width: 66ch;
  }

  .text-icons {
    grid-area: icons;
    justify-content: end;
    align-items: center;
  }

  .text-name {
    display: none;
  }

  .text-title {
    grid-area: title;
  }

  .section-title {
    font-size: 3rem;
  }
}

main {
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.project-card {
  display: grid;
  aspect-ratio: 0.8 / 1;
  background-color: white;
  grid-template-rows: 1.5fr 1fr;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.project-header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title {
  font-weight: 600;
  font-size: 1.5rem;
}

.project-body {
  padding: 0rem 2rem;
  line-height: 1.5;
  font-size: 1.125rem;
}

.main-content {
  width: 100%;
}

.project-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
}

/*Phone Main Sizes*/
@media screen and (max-width: 575px) {
  .main-content {
    margin: 1rem;
  }
}

/* Tablet Main Sizes */
@media screen and (min-width: 576px) and (max-width: 991px) {
  .main-content {
    margin: 0rem 5rem;
  }
}

/*Desktop Main Sizes*/
@media screen and (min-width: 992px) {
  .main-content {
    margin: 0rem 3rem;
  }
}

footer {
  background-color: var(--accent);
  color: white;
}

.footer-text {
  margin-top: 2rem;
}

.contact {
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: center;
}

/*Phone Footer Sizes*/
@media screen and (max-width: 575px) {
  footer {
    padding-top: 1rem;
  }

  .footer-info {
    padding: 1rem;
  }

  .footer-title {
    text-align: center;
  }

  .footer-text {
    font-size: 1.125rem;
  }

  .contact > svg {
    display: none;
  }

  .footer-text.icon-links {
    justify-content: center;
  }
}

/* Tablet Footer Sizes */
@media screen and (min-width: 576px) and (max-width: 991px) {
  footer {
    padding: 3rem 2.5rem;
    display: grid;
    place-items: center;
    grid-template-columns: 5fr 4fr;
    gap: 2rem;
  }

  .footer-text {
    font-size: 1.25rem;
  }
}

/*Desktop Footer Sizes*/
@media screen and (min-width: 992px) {
  footer {
    padding: 2.5rem 3rem;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2.5rem;
  }
  .footer-text {
    font-size: 1.5rem;
  }
}
